APP_NAME=AI Recruitment RAG
ENVIRONMENT=development
DEBUG=true

API_PREFIX=/api

PINECONE_API_KEY=
PINECONE_INDEX_NAME=ai-recruitment

GROQ_API_KEY=
OPENAI_API_KEY=

EMBEDDING_MODEL=gemini-embedding-001
EMBEDDING_DIMENSION=768
